{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
