span.category-name-field,
span.item-name-field {
  display: inline-block;
  padding: 5px 0 5px 7px;
  width: 30%;
  font-weight: bold;
  font-size: 16px;
}

label.item-name-label,
label.category-name-label {
  padding: 5px 10px;
  width: 20%;
  float: left;
  font-size: 1em;
  font-weight: bold;
  color: #5e6469;
}

.quote-form a.has_many_add {
  display: none !important;
}

.has_many_container.quote_items h3 {
  display: none;
}

#quote_total_price,
.read-only-price {
  background-color: #d7d7d7 !important;
  border: none !important;
  box-shadow: none !important;
  width: 30% !important;
}

.has_many_buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

ol li:last-child a.has_many_remove {
  display: none;
}

.quote-parameters-container {
  display: flex;
}

.param-input {
  padding: 5.8px;
  border: 1px solid #c9d0d6 !important;
  width: 100% !important;
}

.discount-input {
  width: 30% !important;
}

.col-created_by {
  min-width: 90px;
}

.category-name-group {
  margin-bottom: 25px;
}

.quote-parameters-preview {
  width: 30%;
}

.quote-params-table {
  width: 100%;
}

.read-only-param {
  background-color: #d7d7d7 !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
}

.param-name {
  width: 25%;
  vertical-align: middle;
}

.param-value {
  width: 75%;
  padding: 5px 0;
}

.custom-select {
  padding: 6px;
  width: 30%;
}
