$select-image-arrow-dark-url: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZmlsbDogcmdiYSgwLCAwLCAwLCAxKTt0cmFuc2Zvcm06IDttc0ZpbHRlcjo7Ij48cGF0aCBkPSJNMTYuMjkzIDkuMjkzIDEyIDEzLjU4NiA3LjcwNyA5LjI5M2wtMS40MTQgMS40MTRMMTIgMTYuNDE0bDUuNzA3LTUuNzA3eiI+PC9wYXRoPjwvc3ZnPg==';
$select-border-color: #c9d0d6;
$select-background-color: #fff;
$select-focus-border-color: #99a2aa;

form.filter_form {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: $border-width solid $select-border-color;
    @include rounded;
    font-size: 0.95em;
    @include sans-family;
    outline: none;
    padding: 8px 25px 7px 7px;
    background-image: url($select-image-arrow-dark-url);
    background-repeat: no-repeat;
    background-position: calc(100% - 7px);
    background-size: 16px 16px;
    cursor: pointer;

    &:focus {
      border: $border-width solid $select-focus-border-color;
      @include shadow(0, 0, 4px, $select-focus-border-color);
    }
  }
}

.formula-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  font-size: 16px;

  &-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px 10px;
  }

  &-param {
    color: red;
    border: 1px solid red;
    font-weight: bold;
    background: #ffcece;
  }

  &-operator {
    font-weight: bold;
    border: 1px solid green;
    color: green;
    background: #c1ffc1;
  }

  &-custom-value {
    font-weight: bold;
    border: 1px solid blue;
    color: blue;
    background: #b9b9ff;
  }
}

.formula-label {
  // font-weight: bold;
  margin-right: 6px;
  color: #222;
}

.formula {
  font-family: monospace;
  background-color: #f9f9f9;
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.calculation-formula-box {
  padding: 8px 12px;
  border-radius: 6px;
  font-family: monospace;
  font-size: 14px;
  white-space: pre-wrap;
}

.custom-cancel-button {
  @extend .button;
  background: #f3f3f3 !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  text-shadow: 0 1px 0 white !important;
  box-shadow: inset 0 1px 0 white, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.custom-cancel-button:hover {
  background: #e6e6e6 !important;
}
