.login-card {
  max-width: 1056px;
  padding: 75px 20px;
}

.login-form {
  max-width: 374px;
}

.border-label {
  position: absolute;
  top: -0.4rem;
  left: 0.8rem;
  background: linear-gradient(to bottom, $light 50%, $white 50%);
}

.form-control::placeholder {
  color: $gray;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0 2px 4px $secondary !important;
  background-color: $white !important;
}

.form-control:-webkit-autofill {
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control:-webkit-autofill:focus {
  background-color: white !important;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: $secondary;
}

.or-divider::before {
  margin: 0 1.5rem 0 2.5rem;
}
.or-divider::after {
  margin: 0 2.5rem 0 1.5rem;
}
