.accordion-button {
  background-color: $light !important;
  border-radius: 8px !important;
  border: 1px solid $primary;
  padding: 22.4px;
  transition: border-radius 0.8s ease-out;

  &:not(.collapsed) {
    border-radius: 8px 8px 0 0 !important;
    border-bottom: 1px solid $teal-blue;
  }
}

.accordion-button:not(.collapsed):focus,
.accordion-button.collapsed:focus {
  outline-offset: none;
  box-shadow: none;
}

.accordion-button::after {
  display: none !important;
}

.pc-accordion-body {
  padding: 20px 32px;
}

.accordion-bottom-filling {
    height: 24px;
  }