// Base styles
.btn {
  // styles for variant="primary"
  &-primary {
    color: white !important;

    &:hover,
    &:focus {
      background: $primary;
    }

    &:active {
      border-color: $dark !important;
      background: $dark !important;
    }

    &:disabled {
      border-color: $secondary !important;
      color: $secondary !important;
      background: $white !important;
    }
  }

  // styles for variant="danger"
  &-danger {
    border-color: $danger !important;
    color: $white;
    background: $danger !important;

    &:hover,
    &:focus {
      border-color: $coral-primary !important;
      color: $white;
      background: $coral-primary !important;
    }

    &:focus-visible {
      box-shadow: $coral-light 0px 0px 0px 4px;
    }

    &:active {
      border-color: $coral-dark !important;
      color: $white !important;
      background: $coral-dark !important;
    }

    &:disabled {
      border-color: $coral-light !important;
      color: $text-coral !important;
      background-color: $coral-light !important;
    }
  }

  // styles for variant="outline-primary"
  &-outline-primary {
    color: $primary !important;
    background-color: $white;

    &:hover,
    &:focus {
      background: inherit;
    }

    &:active {
      border-color: $dark !important;
      color: $dark !important;
      background: inherit !important;
    }

    &:disabled {
      border-color: $secondary !important;
      color: $secondary !important;
    }
  }
}

// Styles for btn close "x"
.btn-close {
  &:focus {
    box-shadow: none;
  }
}

// Additional styles for buttons
.pc-btn {
  width: 96px;
  height: 38px;

  &-reset {
    width: 103.71px;
  }

  &-download {
    width: 106px;
  }
}
