// Items & Pricing page => dropdown
.pc-checkbox-items-pricing {
  display: flex;
  padding: 8px 16px;
  font-family: $font-family-jost;
  line-height: 1.5;

  .form-check {
    display: flex;
    gap: 8px;
    margin: 0;
  }

  .form-check-input[type=checkbox] {
    display: flex;
    gap: 8px;
    margin-top: 0;
    width: 22px;
    height: 22px;
    border: 1.3px solid var(--bs-primary);
    cursor: pointer;
  }

  .form-check-label {
    cursor: pointer;
  }
}
