.pc-pointer {
  cursor: pointer;
}

.pc-mw-524 {
  max-width: 524px !important;

  @media (min-width: 576px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 33vw;
  }

  @media (min-width: 1200px) {
    width: 27vw;
  }
}
