.customer-form {
  max-width: 1120px;
  padding: 31px;
}

.image-placeholder {
  max-width: 136px;
  max-height: 117px;

  label:hover {
    cursor: pointer;
  }
}

.client-input {
  max-width: 615px;
}

.title-input {
  max-width: 241px;
}
