.customer-form {
  max-width: 1120px;
  padding: 31px;
}

.image-placeholder {
  max-width: 136px;
  width: 136px;

  label:hover {
    cursor: pointer;
  }
}

.client-input {
  max-width: 615px;
}

.title-input {
  max-width: 241px;
}

@media (max-width: 575px) {
  .title-input {
    max-width: 100%;
  }
}
