.multi-select-dropdown {
  width: 100%;
  max-width: 512px;

  .pc-label {
    top: -0.7rem;
    left: 0.8rem;
    background: linear-gradient(to bottom, $white 55%, transparent 45%);
  }

  .btn-close {
    padding: 0;
  }
}

.pc-hr-divider {
  width: 60px;
  height: 1px;
  border: none;
  background-color: $teal-light;
}

.pc-w-fit-content {
  width: fit-content;
}

.pc-grid-bar {
  grid-template-columns: minmax(0, 512px) auto;
}
