.multi-select-dropdown {

  .pc-label {
    top: -0.7rem;
    left: 0.8rem;
    background: linear-gradient(to bottom, $white 55%, transparent 45%);
  }

  .btn-close {
    padding: 0;
  }
}

.pc-hr-divider {
  width: 60px;
  height: 1px !important;
  border: none;
  background-color: $teal-light;
}

.pc-w-fit-content {
  width: fit-content;
}

.pc-grid-bar {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 512px) auto auto;
}
