@import 'layout/header';

.layout {
  background-image: url('./assets/bg-calculator.png');
  background-position: left min(50vh, 504px);
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  .layout {
    background-image: none;
  }
}