.login {
  background-image: url('./assets/login_background.png');
  background-position: center;
  background-repeat: repeat-x;
}

.login-card {
  max-width: 1056px;
  padding: 72px 20px;
}

.login-form {
  max-width: 374px;
}

.login-logo {
  max-width: 307px;

  &-image {
    height: 25px;
    max-width: 150px;
  }
}

.flesh-message {
  height: 24px;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: $secondary;
}

.or-divider::before {
  margin: 0 1.5rem 0 2.5rem;
}

.or-divider::after {
  margin: 0 2.5rem 0 1.5rem;
}
