.pc-header {
  height: 60px;

  &-logo {
    &-image {
      width: 25px;
      height: 25px;
      margin-right: 12.5px;
    }

    &-text {
      span:first-of-type {
        line-height: 10px;
        font-size: 10px;
      }

      span:last-of-type {
        line-height: 16px;
        font-size: 16px;
      }
    }
  }
}